<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

    <!-- Local Files -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <!-- Libraries -->
</head>
<body>
    <h1>Cart</h1>

  <div class="navbar">
    <a href="/index">Home Page</a>
    <div class="search-container">
      <form action="/search" method="get">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Search</button>
      </form>
    </div>
    <a href="/login">Login/Signup</a>
    <a href="/cart">Cart</a>
  </div>
    <ul>
        <% Object.entries(cart).forEach(([productId, quantity]) => { %>
            <li>Product ID: <%= productId %>, Quantity: <%= quantity %></li>
        <% }); %>
    </ul>
</body>
</html>