<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <!-- Local Files -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <!-- Libraries -->

</head>
<body>
  <!-- JS Scripts-->
  <script src="/js/login.js"></script>
</body>
</html>