<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="login.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://www.pngkey.com/png/detail/18-182164_website-symbol-png-clip-art-black-and-white.png">
    <!-- <script type="text/javascript" src="js/cookies.js"></script> -->
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1524168948265-8f79ad8d4e33?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center;">
    <div class="container mt-4">
   
<section class="background-radial-gradient overflow-hidden">
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight text-dark-blue shift-right">
            Welcome to <br />
            <span style="color: hsl(218, 85%, 63%); background-color: white">IoTBay</span>
          </h1>
          <p class="mb-4 opacity-70 text-white shift-right move-up shift-up" style="font-size: 18px;">
            Sydney, Australia
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form action="/login" id="loginForm" method="POST">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  
                  <% if (messages.error) { %>
                    <div class="alert alert-danger">
                      <strong><%= messages.error %> </strong>
                    </div>
                  <% } %> 

                  <h1 class="mb-3 h3 text-dark-blue">Login</h1>
                  
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3" class="form-control" />
                  <label class="form-label text-dark-blue" for="form3Example3">Email address</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" name="password" id="form3Example4" class="form-control" />
                  <label class="form-label text-dark-blue" for="form3Example4">Password</label>
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign In
                </button>
  
                <!-- Register buttons -->
                <div class="text-center text-dark-blue">
                  <p>Don't have an account yet? <a href="/register">Register</a></p>
                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <script>
  </script>
  <!-- const loginForm = document.getElementById('loginForm');
  loginForm.addEventListener('submit', async (e) =>{
    const email = document.getElementById('form3Example3').value;
    const password = document.getElementById('form3Example4').value;
    e.preventDefault();
    console.log(email)
    console.log(password)
    const res = await fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email, password }) 
    });
    
    const data = await res.json();
    
    console.log(data)
    if (data.authenticated) {
      //res.cookie("HELLO", "HEEE");
      writeCookie('email', data.email, 3);
      writeCookie('name', data.name, 3);
      writeCookie('authenticated', data.authenticated, 3);
      console.log(readCookie('authenticated'));
      window.location.href = '/index'; // Redirect to dashboard if login successful
    } 
    else {
      writeCookie('authenticated', data.authenticated, 3)
      console.log("FAILED");
      
    //    messageDiv.innerText = data.message; // Show error message if login failed
    };
  }); -->

</body>
</html>
