<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="https://www.pngkey.com/png/detail/18-182164_website-symbol-png-clip-art-black-and-white.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background: url("https://assets-global.website-files.com/5e4bb125419b3343f60a3c85/648bcefcbe88fa270a37842b_Learn%20header%20image%20(3).png");
            background-size: cover;
            background-position: center;
        }

        input[input=text] {
            width: 100%;
            padding: 12px 20px;
            box-sizing: border-box;
        }

        .product-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .add-to-cart {
            position: absolute;
            bottom: 10px;
            width: 110px;
            left: 50%;
            transform: translateX(-50%);
        }

        .header {
            background-color: white;
            width: 100%;
            padding: 10px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .container {
            margin-top: -40px; 
        }

        .search-icon {
            width: 30px; 
            height: auto; 
            margin-left: 5px; 
            margin-right: 15px;
        }

        .custom-btn {
            width: 90px; 
            margin-right: 10px; 
        }

        .logout-container {
            display: flex;
            align-items: center;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
        
        .text-dark-blue {
            color: #1a237e;
        }
        
        .shift-right {
            padding-left: 80px;
        }
        
        .move-up {
            margin-top: -40px; 
        }
        .shift-up{
            padding-bottom: 50px;
        }

        .left{
            float:left;
        }
          
        .clear{
            clear:both;
        }

    </style>

</head>
<body class="d-flex h-100 text-center text-white bg-white">
<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div class="header">
            <div>
                <!-- Logo -->
                <img src="https://i.postimg.cc/wvZDbKXP/Io-TBay-Black.png" border="0" alt="Iot-Bay-white" width="120"/>
            </div>
            <div style="color: black; float: left; transform: translateX(-80%);">
                <i class="fa fa-search" style="position: relative;"></i>
                <input type="text" placeholder="Search...">
            </div>
            <h1 class="text-dark" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Dashboard </h1>
            <div class="nav">
                <!-- Buttons -->
                <a class="nav-link" href="/index">Browse Catalogue</a>
                <a class="nav-link" href="/orders">Orders</a>
                <a class="nav-link" href="/viewSaved">Dashboard</a>
                <div class="d-flex align-items-center">
                    <a class="nav-link" href="#">Shipment</a>
                    <a href="/cart"><img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="Search Icon" class="search-icon"></a>
                </div>
                <div class="logout-container">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="nav-link fw-bold py-1 px-0 btn p=3 btn-primary text-white custom-btn" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
        
    </header>
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">

        <div class="px-3 d-flex justify-content-center align-items-center flex-wrap">
            <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <div class="form-outline mb-4 text-center text-black">
                <h1>Welcome <%= userName %>!</h1>

                <h2>Email: <%= email %></h2>
                <h2>Phone: <%= phoneNumber %></h2>
                <h2>Delivery Address: <%= shippingAddress %></h2>
                </div>
                <form action="/viewPayment" method="GET">
                <!-- Address input -->
                <div class="form-outline mb-4 text-center">
                    <label class="form-label text-dark-blue" for="cardBoxTextbox">Saved Payment Details</label>
                    <div class="clear">&nbsp;</div>
                    <input type="text" readonly ="cardNumber" id="cardNumber" class="form-control" placeholder="Card Number"/>
                    <div class="clear">&nbsp;</div>
                    <input type="text" readonly ="holderName" id="holderName" class="form-control" placeholder="Card Holder Name"/>
                    <div class="clear">&nbsp;</div>
                    <div style="float:left;">
                        <input type="text" readonly name="expiryDate" id="expiryDate" class="form-control" placeholder="MM/YYYY"/>
                    </div>
                    <div style="float:left;">
                        <input type="text" readonly name="cvv" id="cvv" class="form-control" placeholder="CVV2" />
                    </div>
                </div>
                <div>   
                <div class="clear">&nbsp;</div>
                
                <div class="text-center text-dark-blue">
                    <!-- Save button -->
                    <button action="/updatePayment" class="btn btn-primary btn-block mb-4" method="">Edit Payment Details</button>
                    <button action="/deletePayment" class="btn btn-primary btn-block mb-4" method="DELETE">Delete Payment Details</button>
                </div>
                
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
    
<script>    
fetch('/viewPayment')
    .then(response => response.json())
        .then(payment_details => {
            if (payment_details){
                document.getElementById('cardNumber').value = payment_details['cardNumber'];
                document.getElementById('holderName').value = payment_details['holderName'];
                document.getElementById('expiryDate').value = payment_details['expiryDate'];
                document.getElementById('cvv').value = payment_details['cvv'];
                document.getElementById('submit').textContent = 'Change payment details';
            }

        })
        .catch((error) => {
            console.log(error)
        });
</script>
</body>
</html>